# kutt
JWT_SECRET=
DB_PASSWORD=
DB_NAME=
DB_USER=

# traefik
EMAIL=
DOMAIN=example.com
CF_DNS_API_TOKEN=

# vaultwarden
VAULTWARDEN_DOMAIN=
ROCKET_PORT=80
SIGNUPS_ALLOWED="false"
ADMIN_TOKEN=

# dufs
DUFS_AUTH="user:user@/:rw|@/"  # Not required if authelia is deployed
DUFS_SERVE_PATH="/data"

# grafana
GF_PLUGINS_PREINSTALL=grafana-clock-panel,grafana-simple-json-datasource
GF_SECURITY_ADMIN_USER=

AUTH_SECRET=
APP_BASE_URL=

HOMEPAGE_ALLOWED_HOSTS=
