# postgres
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=postgres
POSTGRES_MULTIPLE_DATABASES= # CSV of databases
POSTGRES_MULTIPLE_PASSWORDS= # CSV of corresponding passwords

# authelia
AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET=
AUTHELIA_SESSION_SECRET=
AUTHELIA_STORAGE_ENCRYPTION_KEY=
AUTHELIA_STORAGE_POSTGRES_USERNAME=
AUTHELIA_STORAGE_POSTGRES_PASSWORD=
AUTHELIA_NOTIFIER_SMTP_USERNAME= # Email ID
AUTHELIA_NOTIFIER_SMTP_PASSWORD= # Get this from Google account
AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET=
X_AUTHELIA_CONFIG_FILTERS=template

# vaultwarden
VAULTWARDEN_DOMAIN=https://vault.<domain>
VAULTWARDEN_ROCKET_PORT=80
VAULTWARDEN_SIGNUPS_ALLOWED="false"
VAULTWARDEN_ADMIN_TOKEN= # Argon 2 encoded token
VAULTWARDEN_SSO_ENABLED=true
VAULTWARDEN_SSO_ONLY=false
VAULTWARDEN_SSO_CLIENT_ID=vaultwarden
VAULTWARDEN_SSO_CLIENT_DIGEST=<digest>
VAULTWARDEN_SSO_CLIENT_SECRET=<secret>
VAULTWARDEN_SSO_AUTHORITY=https://auth.<domain>
VAULTWARDEN_SSO_SCOPES=openid profile email offline_access
VAULTWARDEN_SSO_SIGNUPS_MATCH_EMAIL=true

# kutt
KUTT_JWT_SECRET=
KUTT_DB_PASSWORD=
KUTT_DB_NAME=
KUTT_DB_USER=

# dufs
DUFS_SERVE_PATH="/data"

# homepage
HOMEPAGE_ALLOWED_HOSTS=

# traefik
DOMAIN=
EMAIL=
CF_DNS_API_TOKEN=

# immich
IMMICH_DB_PASSWORD=
IMMICH_DB_USERNAME=
IMMICH_DB_DATABASE_NAME=
IMMICH_DB_HOSTNAME=

# grafana
GF_PLUGINS_PREINSTALL=grafana-clock-panel,grafana-simple-json-datasource
GF_SERVER_ROOT_URL=https://grafana.<domain>
GF_AUTH_GENERIC_OAUTH_ENABLED=true
GF_AUTH_GENERIC_OAUTH_NAME=Authelia
GF_AUTH_GENERIC_OAUTH_ICON=signin
GF_AUTH_GENERIC_OAUTH_CLIENT_ID=grafana
GF_AUTH_GENERIC_OAUTH_CLIENT_DIGEST=<digest>
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=<secret>
GF_AUTH_GENERIC_OAUTH_SCOPES=openid profile email groups
GF_AUTH_GENERIC_OAUTH_EMPTY_SCOPES=false
GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://auth.<domain>/api/oidc/authorization
GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://auth.<domain>/api/oidc/token
GF_AUTH_GENERIC_OAUTH_API_URL=https://auth.<domain>/api/oidc/userinfo
GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH=preferred_username
GF_AUTH_GENERIC_OAUTH_GROUPS_ATTRIBUTE_PATH=groups
GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH=name
GF_AUTH_GENERIC_OAUTH_USE_PKCE=true
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH="contains(groups[*], 'admins') && 'Admin' || contains(groups[*], 'users') && 'User'"
GF_AUTH_GENERIC_OAUTH_AUTH_STYLE=InHeader

# papra
PAPRA_AUTH_SECRET=
PAPRA_APP_BASE_URL=https://doc.<domain>
PAPRA_AUTH_PROVIDERS_CUSTOMS='[{"providerId":"authelia","providerName":"Authelia","providerIconUrl": "https://www.authelia.com/images/branding/logo-cropped.png","clientId":"","clientSecret":"","type":"oidc","discoveryUrl":"https://auth.<domain>/.well-known/openid-configuration","scopes":["openid","profile","email"]}]'
PAPRA_AUTH_OIDC_CLIENT_ID=
PAPRA_AUTH_OIDC_CLIENT_DIGEST=<digest>
PAPRA_AUTH_OIDC_CLIENT_SECRET=<secret>
