# Assets
assets/*.dist
assets/*.sample-sui
assets/custom.css.sample
assets/manifest.json

# Data
data/*

# Homepage
!data/homepage/
data/homepage/config/logs

# Prometheus
!data/prometheus/
!data/prometheus/config/prometheus.yml

# Ansible
hosts

.env
env/*.env
!env/*.example.env

# Authelia
!data/authelia/
!data/authelia/configuration.yml

# SWAG
!data/swag/
!data/swag/config
data/swag/config/*
!data/swag/config/nginx
data/swag/config/nginx/*
!data/swag/config/nginx/proxy-confs
data/swag/config/nginx/proxy-confs/*.conf.sample
!data/swag/config/nginx/authelia-server.conf
cloudflare.ini

# Postgres
!data/postgres/
data/postgres/*
!data/postgres/create_db.sh
