# Assets
assets/*.dist
assets/*.sample-sui
assets/custom.css.sample
assets/manifest.json

# Data
data/*

# Homepage
!data/homepage/
data/homepage/config/logs

# Prometheus
!data/prometheus/
!data/prometheus/config/prometheus.yml

# Ansible
hosts

.env